# fly.toml app configuration file generated for rainier-mcp on 2026-01-01T01:34:35Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'rainier-mcp'
primary_region = 'sjc'

[build]

[http_service]
  internal_port = 9080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
